html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}
.choiceBox{
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 3rem;
    padding: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
li:not(shared.css/.nav-bar){ /* Lists not including the navbar. Added to make question boxes more appealing*/
    padding: 0.5rem;
    margin-left: 3rem;
}
.title{
    font-size: 48px;
    text-align: center;
}
.subtitle{
    font-size:24px;
    text-align: center;
}
button{
    font-size: 24px;
    border-radius: 4px;
    width: 250px;
    text-align: center;
    padding: 15px 32px;
    transition-duration: 0.1s;
    margin-left: 3rem;
    margin-bottom: 3rem;
}
button:hover{
    background-color: gray;
    color: black;
}
h4{
    margin-left: 3rem;
    font-size: 24px;
    text-align: left;
}
li{
    font-size: 22px;
}
span{
    font-size: 24px;
    margin-left: 0.5rem;
}
.my-results{
    margin-left: 3rem;
}